* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    background: black;
}
.imagen_container {
    display: flex;
    justify-content: center;
}

.imagen_lagcito {
    width: 100%;
    max-width: 500px;
}

a {
    font-family: "Montserrat", sans-serif;

    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #fff;
}
.link-entrar {
    width: 200px;
}
.link-entrar:hover {
    border-bottom: 2px solid #fff;
}
