* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

header {
    background: black;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.submenu-titulo {
    display: flex;
    padding-left: 20px;
    padding-top: 25px;
    align-items: center;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 900;
    color: goldenrod;
}

.categoria {
    display: flex;
    padding: 15px 0px;
    border-bottom: goldenrod 2px solid;
    align-items: center;
    width: 90%;
    font-size: 1.5rem;
    font-weight: 900;
    color: goldenrod;
}
.regresar {
    padding-top: 10px;
    padding-left: 20px;

    color: #fff;
    font-size: 1.2rem;
}
.carta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.producto {
    height: 100%;
    border-bottom: 2px solid rgb(202, 202, 202);
    padding: 5px 5px;

    width: 90%;
    background: #fff;
}
.producto-encabezado {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.titulo h2 {
    padding-top: 5px;
    font-weight: 800;
    font-size: 1.4rem;
}
.precio {
    font-weight: 800;
    font-size: 1.4rem;
}
.descripcion {
    padding-top: 10px;
    font-size: 1.3rem;
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    max-width: 800px;
    height: 100px;
    background: black;
}
.creditos {
    height: 20px;
    background: rgb(24, 24, 24);
    width: 100%;
}
.menucito {
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: baseline;
    color: #fff;
    font-size: 1.2rem;
}
